h1 {
  font-family: "Lobster", cursive;
  color: white;
}

.table {
  margin-bottom: 2rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header button {
  height: fit-content;
}
